<nav class="navbar position-fixed flex-row flex-md-column p-0">
    <a class="navbar-brand p-0 me-0">
        <img class="navbar-brand__logo" src="../assets/images/brand-logo.svg" alt="invoice app">
    </a>


    <div
        class="nav-link d-flex flex-row flex-md-column align-items-center justify-content-center me-3 me-md-0 mb-0 mb-md-4">
        <div class="nav-link__theme  mb-md-4 me-4 me-md-0">
            <img src="../assets/images/icon-moon.svg">
        </div>
        <div class="nav-link__profile">
            <img src="../assets/images/image-avatar.jpg" class="rounded-circle nav-profile-image">
        </div>
    </div>
</nav>