<header class="p-0 position-fixed w-100">
    <nav class="navbar  bg-dark p-0">
        <a class="navbar-brand p-0 me-0">
            <img src="../assets/images/brand-logo.svg" alt="invoice app logo">
        </a>


        <ul class="nav-profile d-flex">
            <li>
                <img src="../assets/images/icon-moon.svg">
            </li>
            <li>
                <img src="../assets/images/image-avatar.jpg" class="rounded-circle nav-profile-image">
            </li>
        </ul>
    </nav>
</header>