<div class="invoices container">
    <div class="my-5 d-flex justify-content-between align-items-center">
        <div>
            <h1 class="mb-0 lh-1">Invoices</h1>
            <p class="text-muted">{{ totalInvoicesMessage }}</p>
        </div>
        <div class="d-flex ">
            <div class="col text-end">
                <form [formGroup]="statusForm">

                    <div ngbDropdown class="d-inline-block me-3" #myDrop="ngbDropdown">
                        <button type="button" class="btn btn-light " id="invoiceDropdown" ngbDropdownToggle>
                            Filter by status
                        </button>
                        <div class="px-2" ngbDropdownMenu aria-labelledby="invoiceDropdown">
                            <div class="form-check" *ngFor="let stat of status">
                                <input formControlName="status" class="form-check-input rounded" value="{{ stat }}"
                                    type="checkbox" id="{{stat}}" (change)="selectStatus(stat); myDrop.close()">
                                <label class="form-check-label" for="{{ stat }}">
                                    {{stat}}
                                </label>
                            </div>
                            <div class="form-check" *ngIf="showAllInvoices">
                                <input formControlName="status" class="form-check-input rounded" value="total"
                                    type="checkbox" id="all" (change)="selectStatus('total'); myDrop.close()">
                                <label class="form-check-label" for="total">
                                    All Invoices
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <button type="button" class="btn btn-primary rounded-pill text-white" (click)="openOffCanvas()"> <i
                    class="fa fa-plus-circle" aria-hidden="true"></i> Add
                Invoice</button>
        </div>
    </div>


    <!-- Invoices Lists -->
    <ng-container *ngIf="invoices.length > 0 else emptyInvoice">
        <div [routerLink]="['/invoices', invoice.id]" class="card px-4 py-2 mb-3" *ngFor="let invoice of invoices">
            <div class="d-flex flex-sm-wrap flex-md-nowrap justify-content-between align-items-center">
                <p class="fw-bold mb-0 flex-fill"><small class="text-muted">#</small>{{ invoice.id }}
                </p>
                <p class="text-primary mb-0 flex-fill">{{ invoice.paymentDue }}</p>
                <p class="text-primary mb-0 flex-fill">{{ invoice.clientName }}</p>
                <p class="fw-bold mb-0 flex-fill">{{ invoice.total | currency:'GBP':'symbol-narrow' }}</p>
                <p class="mb-0 flex-fill text-center">
                    <button type="button"
                        [ngClass]="{'btn-outline-success' : invoice.status === 'paid', 'btn-outline-warning' : invoice.status === 'pending', 'btn-outline-dark' : invoice.status === 'draft'}"
                        class="btn  me-3 disabled">
                        <i class="fa-solid fa-circle "></i>
                        {{ invoice.status }}
                    </button>
                    <span class="text-muted">
                        <i class="fa-solid fa-chevron-right"></i>
                    </span>
                </p>
            </div>
        </div>
    </ng-container>

    <!-- Empty lists -->
    <ng-template #emptyInvoice>
        <div class="d-flex justify-content-center align-items-center">
            <div class="text-center">
                <img src="../../../assets/images/illustration-empty.svg" alt="empty image">
                <h2 class="my-3 mb-0">There is nothing here</h2>
                <p class="text-black-50 mb-0">
                    Create an invoice by clicking the
                </p>
                <p class="text-black-50">
                    <a type="button" class="btn btn-link text-black-50 text-decoration-none fw-bold px-1 pb-2 mr-1">New
                        Invoice</a>button and get started
                </p>

            </div>

        </div>
    </ng-template>

</div>