<ng-container [formGroupName]="addressType">

    <div class="mb-3">
        <div class="d-flex justify-content-between">
            <label for="street" class="form-label text-primary">Street</label>
            <div> test</div>
        </div>
        <input formControlName="street" type="text" class="form-control" id="street">
    </div>

    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between">
                <label for="city" class="form-label text-primary">City</label>
                <div> test</div>
            </div>
            <input formControlName="city" type="text" class="form-control" id="city">
        </div>
        <div class="col">
            <div class="d-flex justify-content-between">
                <label for="postCode" class="form-label text-primary">Post Code</label>
                <div> test</div>
            </div>
            <input formControlName="postCode" type="text" class="form-control" id="postCode">
        </div>
        <div class="col">
            <div class="d-flex justify-content-between">
                <label for="country" class="form-label text-primary">Country</label>
                <div> test</div>
            </div>
            <input formControlName="country" type="text" class="form-control" id="country">
        </div>
    </div>
</ng-container>