:root {
    /* COLORS */
    // Primary
    --clr-moderate-blue: 238, 40%, 52%;
    --clr-soft-red: 358, 79%, 66%;
    --clr-light-grayish-blue: 239, 57%, 85%;
    --clr-pale-red: 357, 100%, 86%;

    // neutral
    --clr-white: 0 0% 100%;
    --clr-grayish-blue: 211, 10%, 45%;
    --clr-dark-blue: 212, 24%, 26%;
    --clr-light-gray: 223, 19%, 93%;
    --clr-very-light-gray: 228, 33%, 97%;



    /*  Typography */
    
    // font-family
    --ff-rubik : 'Rubik', sans-serif;

    //font-size
    --fs-900: 5rem; 
    --fs-800: 2.5rem;
    --fs-600: 1.75rem;
    --fs-400: 0.875rem;
    --fs-300: 0.75rem;
    --fs-200: 0.6875rem
    

}