@use '../abstracts/' as *;

.off-canvas-width {
    width: 700px !important;
    overflow-y: scroll;
    border-radius: 0;
    background-color: var(--bg-offcanvas);

    &::-webkit-scrollbar {
        width: 0em;
    }

    @include breakpoint-up('medium') {
        border-radius: rem(0) rem(15) rem(15) 0;
    }
}