@use '../abstracts/' as *;

.date-picker {
    --primary-color: #7C5DFA;

    .dropdown-menu {
        margin: rem(10) 0 !important;
        padding: rem(5) 0 rem(10);
        background-color: var(--bg-form) !important;

        .ngb-dp-header {
            background-color: var(--bg-form) !important;
            margin-bottom: rem(10);
            padding: rem(10);
        }

        .ngb-dp-arrow-btn {
            background-color: transparent;
            z-index: 1;
            padding: 0;
            margin: 0;
            color: var(--primary-color);
        }

        .form-select {
            color: var(--text-secondary);
            background-color: var(--bg-form);
            background-image: none;
            border: 1px solid var(--bg-form);
            outline: none;
            cursor: pointer;

            &:focus {
                box-shadow: none;
            }
        }

        .form-select[title="Select month"] {
            text-align: center;
        }



        .ngb-dp-weekdays {
            display: none;
        }

        [ngbDatepickerDayView]:hover:not(.bg-primary),
        [ngbDatepickerDayView].active:not(.bg-primary) {
            background-color: unset;
            outline: unset;
            color: var(--primary-color);
        }

        [ngbDatepickerDayView] {
            color: var(--text-secondary)
        }

        [ngbDatepickerDayView].outside {
            opacity: .4;
            color: var(--text-secondary) !important;
        }

        .bg-primary {
            background-color: transparent !important;
        }

        .text-white {
            color: var(--primary-color) !important;
            font-weight: 700 !important;
        }
    }


}