<!-- <ng-container formArrayName="items">
    <!-- Item Lists -->
<!-- <h2>Item List</h2>
    <div *ngFor="let item of items.controls; index as i">

        <div class="row">

            <div class="col-md-4">
                <label for="name" class="form-label text-primary">Item </label>
                <input [formControlName]="i.name" type="text" class="form-control" id="name">
            </div>
            <div class="col-md-2">
                <label for="quantity" class="form-label text-primary">Qty </label>
                <input [formControlName]="i.quantity" type="number" class="form-control" id="quantity">
            </div>
            <div class="col-md-2">
                <label for="price" class="form-label text-primary">Price </label>
                <input [formControlName]="i.price" type="text" class="form-control" id="price">
            </div>
            <div class="col-md-2">
                <label for="" class="form-label text-primary">Total </label>
            </div>
            <div class="col-md-2">
                <div>
                    <i class="fa-solid fa-trash"></i>
                </div>
            </div>
        </div>
    </div> -->
<!-- Add item button -->
<!-- <button class="w-100 rounded-pill btn btn-secondary my-4" (click)="addNewItem()">
        <i class="fa-solid fa-plus"></i> Add New Item
    </button> -->
<!-- </ng-container> --> -->