<!-- Item Lists -->
<h2>Item List</h2>
<div class="row">
    <div class="col-md-4">
        Item
    </div>
    <div class="col-md-2">
        Qty
    </div>
    <div class="col-md-3">
        Price
    </div>
    <div class="col-md-2">
        Total
    </div>
    <div class="col-md-1">

    </div>
</div>
<ng-container *ngIf="items">
    <ng-container formArrayName="items">
        <div *ngFor="let item of items.controls; index as i" [formGroupName]="i" class="my-1">
            <div class="d-flex justify-content-center mb-1">
                <div class="text-danger"
                    *ngIf="isSaving && ( item.get('price')?.errors?.['minNum'] || item.get('quantity')?.errors?.['minNum'])">
                    <div> Price Or Quantity can't must be greater than 0 </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-4">
                    <input formControlName="name" type="text" class="form-control"
                        [class.border-danger]="isSaving && item.get('name')?.errors">
                </div>
                <div class="col-md-2">
                    <input formControlName="quantity" type="number" class="form-control" min="1"
                        (input)="getValueForItemsTotal(item, i, $event)"
                        [class.border-danger]="isSaving && item.get('quantity')?.errors?.['minNum']">
                </div>
                <div class="col-md-3">
                    <input formControlName="price" type="number" class="form-control" min="1"
                        (input)="getValueForItemsTotal(item, i, $event)"
                        [class.border-danger]="isSaving &&  item.get('price')?.errors?.['minNum']">
                </div>
                <div class=" col-md-2">
                    <ng-container *ngIf="item.value.quantity && item.value.price">
                        {{ item.value.quantity * item.value.price | number: '1.2-2'}}
                    </ng-container>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-link text-danger"><i class="fa-solid fa-trash"
                            (click)="removeItem(i)"></i></button>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>
<!-- Add item button -->
<button class="w-100 text-primary rounded-pill btn btn-light my-4" (click)="addItem()">
    <i class="fa-solid fa-plus"></i> Add New Item
</button>