<div class="container add-edit my-4 ">
    <div class="title">
        <h1>{{ title }} <span *ngIf="invoice"> #{{ invoice.id }}</span></h1>
    </div>

    <div class="row">
        <form [formGroup]="invoiceForm">
            <!-- Bill to section -->
            <div class="my-4">
                <h2 class="h5 text-primary">
                    Bill From
                </h2>
                <!-- Sender Adress -->
                <app-address-form [addressType]="'senderAddress'" [isSaving]="isSaving"
                    [addressData]="invoice?.senderAddress"></app-address-form>
            </div>

            <!-- Bill to section -->
            <div class="my-4">
                <h2 class="h5 text-primary">
                    Bill To
                </h2>
                <!-- Clients Name -->
                <div class="mb-3">
                    <div class="d-flex justify-content-between">
                        <label for="clientName" class="form-label text-primary"
                            [class.text-danger]="isSaving && formValidation['clientName'].errors">Client's Name</label>
                        <div *ngIf="isSaving && formValidation['clientName'].errors" class="text-danger">
                            <p>Can't be empty</p>
                        </div>
                    </div>
                    <input formControlName="clientName" type="text" class="form-control" id="clientName"
                        [class.border-danger]="isSaving && formValidation['clientName'].errors">
                </div>
                <!-- Clients' Email -->
                <div class="mb-3">
                    <div class="d-flex justify-content-between">
                        <label for="clientEmail" class="form-label text-primary"
                            [class.text-danger]="isSaving && formValidation['clientEmail'].errors">Client's
                            Email</label>
                        <div *ngIf="isSaving && formValidation['clientEmail'].errors" class="text-danger">
                            <p *ngIf="formValidation['clientEmail']?.errors?.['required']">Can't be empty</p>
                            <p *ngIf="formValidation['clientEmail']?.errors?.['email']">Invalid email address</p>
                        </div>
                    </div>
                    <input formControlName="clientEmail" type="email" placeholder="e.g. email@example.com"
                        class="form-control" id="clientEmail"
                        [class.border-danger]="isSaving && formValidation['clientEmail'].errors">
                </div>
                <!-- Client Address -->
                <app-address-form [addressType]="'clientAddress'" [isSaving]="isSaving"
                    [addressData]="invoice?.clientAddress"></app-address-form>
            </div>

            <!-- Invoice info section -->
            <div class="row my-4">
                <!-- Created At -->
                <div class="col">
                    <label for="createdAt" class="form-label text-primary">Invoice Date</label>
                    <input type="date" formControlName="createdAt" class="form-control" aria-label="Created At">
                </div>
                <!--  Payment Terms -->
                <div class="col">
                    <label for="paymentTerms" class="form-label text-primary">Payment Terms</label>
                    <div ngbDropdown class="d-block">
                        <button type="button" class="btn btn-outline-secondary" id="paymentTerms" ngbDropdownToggle>
                            {{ selectedTerms }}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="paymentTerms">
                            <button ngbDropdownItem *ngFor="let term of terms" (click)="selectTerms(term)">{{ term.name
                                }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Description -->
            <div class="row my-4">
                <div class="col">
                    <div class="d-flex justify-content-between">
                        <label for="description" class="form-label text-primary"
                            [class.text-danger]="isSaving && formValidation['description'].errors">Project
                            Description</label>
                        <div *ngIf="isSaving && formValidation['description'].errors" class="text-danger">
                            Can't be empty
                        </div>
                    </div>
                    <input formControlName="description" type="text" placeholder="e.g. Graphic Design Service"
                        class="form-control" id="description"
                        [class.border-danger]="isSaving && formValidation['description'].errors">
                </div>
            </div>

            <!-- items section -->
            <app-item-form [isSaving]="isSaving" [itemsFromInvoiceToEdit]="invoice?.items"></app-item-form>

            <!-- Show Invalid form and no item message -->
            <ng-container *ngIf="showInvalidMessage">
                <p class="text-danger mb-1"> - All fields must be filled </p>
            </ng-container>
            <ng-container *ngIf="showNeedItemMessage">
                <p class="text-danger"> - An Item must be added </p>
            </ng-container>

            <!-- form action buttons -->
            <div class="d-flex" [class.justify-content-end]="invoice">
                <button [class.me-auto]="!invoice" class="btn btn-light rounded-pill text-primary me-auto"
                    (click)="onDiscard()"> Discard </button>
                <button *ngIf="!invoice" type="submit" (click)="onSaveNewInvoice('draft')"
                    class="btn btn-dark rounded-pill text-secondary me-1 "> Save as
                    Draft </button>
                <button type="submit" (click)="onSaveNewInvoice('pending')" class="btn btn-primary rounded-pill">
                    <ng-container *ngIf="invoice else newInvoice">
                        <span>
                            Save Changes
                        </span>
                    </ng-container>
                    <ng-template #newInvoice>
                        <span> Save & Send</span>
                    </ng-template>
                </button>
                <!-- <ng-container *ngIf="invoice else newInvoice">
                    <button type="submit" (click)="onSaveNewInvoice(invoice.status)"
                        class="btn btn-primary rounded-pill">
                        Save Changes
                    </button>
                </ng-container>
                <ng-template #newInvoice>
                    <button *ngIf="!invoice" type="submit" (click)="onSaveNewInvoice('draft')"
                        class="btn btn-dark rounded-pill text-secondary me-1 "> Save as
                        Draft </button>
                    <button type="submit" (click)="onSaveNewInvoice('pending')" class="btn btn-primary rounded-pill">
                        Save <span *ngIf=""></span> & Send
                    </button>
                </ng-template> -->
            </div>
            <!-- <div class="row">
                <div class="col-md-5">
                    <button class="btn btn-light rounded-pill text-primary" (click)="onDiscard()"> Discard </button>
                </div>
                <div class="col-md-7 me-auto d-flex justify-content-end">
                    <button type="submit" (click)="onSaveNewInvoice('draft')"
                        class="btn btn-dark rounded-pill text-secondary me-3"> Save as Draft </button>
                    <button type="submit" (click)="onSaveNewInvoice('pending')" class="btn btn-primary rounded-pill">
                        Save & Send
                    </button>
                </div>
            </div> -->
        </form>
    </div>