@use '../abstracts/' as *;

.main {
    margin-top: rem(100);
    max-width: rem(1000);
    margin-inline: auto;

    @include breakpoint-up('medium') {
        padding-left: rem(100);
        margin-top: 0;
    }

}