@use '../utilities/' as *;

.navbar {
    border-radius: 0;
    z-index: 1050;
    right: 0;
    left: 0;
    top: 0;
    align-items: normal;


    @include breakpoint-up('medium') {
        border-radius: rem(0) rem(20) rem(20) 0;
        padding: 0;
        height: 100%;
        right: unset;
        top: 0;
        bottom: 0;

    }

    .navbar-brand {
        .navbar-brand__logo {
            max-width: rem(80);
        }
    }

    .nav-link {

        img {
            max-width: rem(40);
            max-height: rem(40);
            width: 100%;
            height: auto;
        }

        .nav-link__theme {
            position: relative;

            &::after {
                position: absolute;
                content: "";
                width: rem(1);
                height: rem(80);
                background-color: #494E6E;
                top: rem(-28);
                left: rem(32);

                @include breakpoint-up('medium') {

                    top: rem(35);
                    left: rem(-31);
                    width: rem(80);
                    height: rem(1);
                }


            }
        }
    }
}